.no-margin { margin: 0 }
.no-bottom { margin-bottom: 0 }
.no-margin-imp { margin: 0 !important}
.no-bottom-imp { margin-bottom: 0 !important}


.margin-1 { @include margin(1rem) }
.margin-2 { @include margin(2rem) }
.margin-3 { @include margin(3rem) }
.margin-4 { @include margin(4rem) }
.margin-5 { @include margin(5rem) }

.mt-1 { @include margin-top(1rem) }
.mt-2 { @include margin-top(2rem) }
.mt-3 { @include margin-top(3rem) }
.mt-4 { @include margin-top(4rem) }
.mt-5 { @include margin-top(5rem) }

.mr-1 { @include margin-right(1rem) }
.mr-2 { @include margin-right(2rem) }
.mr-3 { @include margin-right(3rem) }
.mr-4 { @include margin-right(4rem) }
.mr-5 { @include margin-right(5rem) }

.mb-1 { @include margin-bottom(1rem) }
.mb-2 { @include margin-bottom(2rem) }
.mb-3 { @include margin-bottom(3rem) }
.mb-4 { @include margin-bottom(4rem) }
.mb-5 { @include margin-bottom(5rem) }

.ml-1 { @include margin-left(1rem) }
.ml-2 { @include margin-left(2rem) }
.ml-3 { @include margin-left(3rem) }
.ml-4 { @include margin-left(4rem) }
.ml-5 { @include margin-left(5rem) }

.fl-right { float: right; }
.fl-left { float: left; }
.pos-absolute { position: absolute; }
.pos-relative { position: relative; }
.text-center { text-align: center }

.dis-blk { display: block; }
.dis-inl { display: inline; }
.dis-inl-blk { display: inline-block; }