// Body
$body-bg: #f8fafc;
$bg-glass: rgba(255, 255, 255, 0.85);

// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* fonts */
$font-keepcalm: "Keep Calm",
sans-serif;

/* sizes */
$size-h1: 3.2rem;
$size-title: 3.5rem;

/* margins */

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 64px !default;
$mobile-small: 750px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$smallscreen: 960px !default;
// 960px container + 4rem
$desktop: 960px+(2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px+(2 * $gap) !default;
$widescreen-enabled: true !default;
// 1344px container + 4rem
$fullhd: 1344px+(2 * $gap) !default;
$fullhd-enabled: true !default;